.trilogySystem {
  .container {
    .trilogySystem__left {
      .trilogySystem__title {
        font-weight: 800;
        font-size: 28px;
        line-height: 114.2%;
        text-align: center;
        letter-spacing: -0.5px;
        color: #ffffff;
        text-align: left;
        margin-bottom: 19px;
      }
      .trilogySystem__decr {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.15px;
        color: rgba(255, 255, 255, 0.6);
        margin: 0;
      }
      .trilogySystem__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 150.4%;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 23px;
      }
    }
    .trilogySystem__right {
      .trilogySystem__list {
        padding-left: 0;
        list-style: none;
        margin-top: 28px;
        .trilogySystem__item {
          border-bottom: 2px solid rgba(52, 57, 90, 0.7);
          margin-bottom: 20px;
          .item__head {
            font-weight: 700;
            font-size: 18px;
            line-height: 150.4%;
            letter-spacing: 0.15px;
            text-transform: uppercase;
            color: #ffffff;
            display: block;
          }
          .item__descr {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.15px;
            color: rgba(255, 255, 255, 0.6);
            display: block;
            margin: 5px 0 11px;
          }
        }
      }
    }
  }
}
