@import "_header";
@import "_main";
@import "_userPool";
@import "_trilogySystem";
@import "_solution";
@import "_roadmap";
@import "_footer";

body {
  // font-family: 'SF Pro Display';
  font-family: "Gilroy";
  background-color: #020313;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  // background: url(../img/bg.svg);
  // background-size: 375px 1000px;
  // background-position: center;
}
.lock {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 355px;
  margin: 0 auto;
}
section {
  z-index: 100;
}
.body__net {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  z-index: -2;
  img {
    width: 100%;
    height: auto;
  }
}
.body__wrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  .body__circle {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(38, 47, 255, 0.35) 0.01%,
      rgba(38, 47, 255, 0) 100%
    );
    width: 751px;
    height: 751px;
    left: -364px;
    top: -293px;
    z-index: 1;
  }
}
.body__wrapper2 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle2 {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(38, 47, 255, 0.35) 0.01%,
      rgba(38, 47, 255, 0) 100%
    );
    width: 757px;
    height: 757px;
    right: -364px;
    top: 740px;
    z-index: 1;
  }
}
.body__wrapper3 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle3 {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(113, 13, 238, 0.35) 0.01%,
      rgba(113, 13, 238, 0) 100%
    );
    width: 757px;
    height: 757px;

    left: -360px;
    top: 1553px;
    z-index: 1;
  }
}
.body__wrapper4 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle4 {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(38, 47, 255, 0.35) 0.01%,
      rgba(38, 47, 255, 0) 100%
    );
    width: 757px;
    height: 757px;
    right: -360px;
    top: 2973px;
    z-index: 1;
  }
}
.body__wrapper5 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle5 {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(38, 47, 255, 0.35) 0.01%,
      rgba(38, 47, 255, 0) 100%
    );
    width: 757px;
    height: 757px;
    left: -360px;
    top: 4182px;
    z-index: 1;
  }
}
.body__wrapper5 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle5 {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(113, 13, 238, 0.35) 0.01%,
      rgba(113, 13, 238, 0) 100%
    );
    width: 757px;
    height: 757px;
    left: -360px;
    top: 4182px;
    z-index: 1;
  }
}
.body__wrapper6 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle6 {
    position: absolute;
    top: 5019px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(38, 47, 255, 0.35) 0.01%,
      rgba(38, 47, 255, 0) 100%
    );
    width: 757px;
    height: 757px;
    right: -360px;
    z-index: 1;
  }
}
.body__wrapper7 {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -10000000000000000000;
  top: 0;
  .body__circle7 {
    position: absolute;
    left: -480px;
    top: 6243px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(113, 13, 238, 0.35) 0.01%,
      rgba(113, 13, 238, 0) 100%
    );
    width: 757px;
    height: 757px;
    z-index: 1;
  }
}

@import "_media";
