@import "_header";
@import "_main";
@import "_userPool";
@import "_trilogySystem";
@import "_solution";
@import "_roadmap";
@import "_footer";

body {
  // font-family: 'SF Pro Display';
  font-family: "Gilroy";
  background-color: #020313;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  // background: url(../img/bg.svg);
  // background-size: 375px 1000px;
  // background-position: center;
}
.lock {
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 355px;
  margin: 0 auto;
}
.body__net {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  z-index: -2;
  img {
    width: 100%;
    height: auto;
  }
}
.body__wrapper {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: -10000000000000000000;
  .body__circle {
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(38, 47, 255, 0.35) 0.01%,
      rgba(38, 47, 255, 0) 100%
    );
    width: 751px;
    height: 751px;
    left: -364px;
    top: -293px;
    z-index: -1;
  }
}

@import "_media";
